.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: -10px;
  left: 0;
  max-width: 300px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  margin-top: 75px;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  width: 150px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer li:hover,
.side-drawer li:active {
  cursor: pointer;
}

@media (min-width: 769px) {
  .side-drawer {
    display: flex;
  }
}
