.dropdown {
  height: 90px;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 145px;
  max-width: 280px;
  z-index: 200;
  margin-top: 35px;
  margin-left: 1150px;
}

.dropdown li {
  padding: 15px 10px;

  font-size: 0.8rem;
}

.dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.dropdown a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

.dropdown li:hover,
.dropdown li:active {
  cursor: pointer;
  background-color: orangered;
}

.dropdown a:hover,
.dropdown a:active {
  color: orangered;
}
