$background-color-app: #f1f4fb;
$background-color-delivery-portal: #dce2f0;
$preparation-phase-color: #4a90e2;
$installation-phase-color: #ff5959;
$commissioning-phase-color: #9013fe;
$training-phase-color: #c49116;
$rampup-phase-color: #00b28b;
$production-phase-color: #112378;
