.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 50px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}
.toolbar_nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0;
}

.toolbar_logo {
  margin-left: 2rem;
}

.toolbar_logo a {
  color: slategrey;
  text-decoration: none;
  font-size: 1.5rem;
}
.spacer {
  flex: 1;
}

.toolbar_nav_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.toolbar_nav_items li {
  padding: 0 0.5rem;
}

.toolbar_nav_items a {
  color: slategrey;
  text-decoration: none;
}

.toolbar_nav_items a:hover,
.toolbar_nav_items a:active {
  color: #fa923f;
}

.image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 3px;
}
