.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 250px;
  z-index: 200;
  margin-top: 45px;
}

.side-drawer li {
  padding: 5px 10px;
  margin-left: -25px;
  font-size: 0.8rem;
}

.side-drawer li:hover,
.side-drawer li:active {
  cursor: pointer;
  background-color: rgba(10, 142, 250, 0.14);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: rgba(10, 142, 250, 0.14);
}

.logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: space-between;
  margin-right: 40px;
  margin-top: 1px;
}
