.toolbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  opacity: 1;
  position: fixed;
  z-index: 50;
}

.toolbar-logo {
  width: 205px;
  min-width: 3em;
  height: 20px;
  font-size: 20px;
  font-family: Arial;
}

.toolbar-logo a {
  color: black;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.toolbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar-navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-navigation-items li {
  padding: 0 1rem;
}
.toolbar-navigation-items a {
  color: black;
  text-decoration: none;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
  color: gray;
}

.toolbar-navigation-items-2 ul {
  list-style: none;
  display: flex;
  width: 80px;
  height: 20px;
  margin-right: 30px;
}

.toolbar-navigation-items-2 li {
  padding: 0 0.5rem;
  width: 20px;
  height: 20px;
}

.toolbar-navigation-items-2 a {
  color: white;
  text-decoration: none;
}

.toolbar-project {
  top: 26px;
  left: 301px;
  width: 124px;
  height: 20px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border: 1px solid #060606;
  opacity: 1;
  margin-top: 20px;
}

.menu {
  font-size: 1.1rem;
  text-decoration: none;
  font-family: Arial;
  padding: 20px 0;
  margin: 0 20px;
}
.menu:hover {
  border-bottom: 4px solid gray;
  padding: 6px 0;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

@media (max-width: 768px) {
  .toolbar-navigation-items {
    display: flex;
    margin-top: 35px;
  }
}

@media (min-width: 769px) {
  .toolbar-logo {
    margin-left: 20px;
  }
  .toolbar-navigation-items {
    display: flex;
    margin-top: 35px;
  }
}
